aws_region      = "us-east-1"
cluster_name    = "voting-app-eks"
cluster_version = "1.36"

node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 3
node_capacity_type  = "ON_DEMAND"
